.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
	pointer-events: none;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}


#history table {
	border-collapse: collapse;
	width: 100%;
	border-radius: 8px;;
  }
  

  #history th:first-child {
	  border-top-left-radius: 8px;
  }
  #history th:last-child{
	border-top-right-radius: 8px;
}

  
#history th, td {
	text-align: left;
	padding: 8px;
  }
  
#history tr:nth-child(even){background-color: #ffffff}
  
#history th {
	background-color: #0bdbf6;
	color: white;
  }